.messages-box {
	padding: 10px;
	height: 80vh;
	margin: 10vh 0 10vh;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
}

.messages-box::-webkit-scrollbar {
	width: 0.25rem;
}

.messages-box::-webkit-scrollbar-track {
	background: #1e1e24;
}

.messages-box::-webkit-scrollbar-thumb {
	background: #fca311;
}

.new-message-form {
	height: 10vh;
	position: fixed;
	bottom: 0;
	background-color: rgb(24, 23, 23);
	width: 100%;
	max-width: 728px;
	display: flex;
	font-size: 1.5rem;
}

.new-message-button {
	width: 20%;
	background-color: #fca311;
}

.new-message-input {
	line-height: 1.5;
	width: 100%;
	font-size: 1.5rem;
	background: rgb(58, 58, 58);
	color: white;
	outline: none;
	border: none;
	padding: 0 10px;
}

.new-message-button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.message {
	display: flex;
	align-items: center;
	padding: 1% 0;
}

.sent {
	flex-direction: row-reverse;
}

.sent p {
	color: white;
	background: #0b93f6;
	align-self: flex-end;
}
.received p {
	background: #e5e5ea;
	color: black;
}

.message-user-avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 2px 5px;
}
